@model List<StoreThoiTrang63136126.Models.ChiTietHoaDon>

<a href="@Url.Action("Orders","Cart63136126")"><i class="lnr lnr-cart"></i><span class="product-count" id="product-count">@(Model == null ? 0 : Model.Count())</span><span class="my-cart"></span></a>
