@model IEnumerable<StoreThoiTrang63136126.Models.DanhMuc>

<div class="col-lg-5 col-md-8 ml-auto mr-auto col-10">
    <div class="categorie-search-box">
        @using (Html.BeginForm("Shop", "Product63136126", FormMethod.Get))
        {
            <div class="form-group">
                <select class="bootstrap-select" name="madm">
                    <option value="0">Tất cả danh mục</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.MaDM">@item.TenDanhMuc</option>
                    }
                </select>
            </div>
            <input name="searchString" type="text" placeholder="Tìm kiếm">
            <button type="submit"><i class="lnr lnr-magnifier"></i></button>
        }
    </div>
</div>
