
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li>@Html.ActionLink("Trang chủ", "Index", "Home63136126")</li>
                <li class="active">@Html.ActionLink("Đổi mật khẩu", "ChangePassWord", "AccountUser63136126")</li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Infor Page Start -->
<div class="register-account ptb-100 ptb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="register-title">
                    <h3 class="mb-10">Tài khoản</h3>
                </div>
            </div>
        </div>
        <!-- Row End -->
        <div class="row">
            <div class="col-sm-12">
                @using (Html.BeginForm("ChangePassWord", "AccountUser63136126", FormMethod.Post, new { onsubmit = "return checkPass();" }))
                {
                    @Html.ValidationMessage("ErrorUpdate", new { @class = "text-danger", @id = "error-message" })
                    <br />
                    <hr />
                    <fieldset>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="accountOld">Mật khẩu cũ</label>
                            <div class="col-md-10">
                                <input type="password" name="oldpassword" required class="form-control" id="oldpassword" placeholder="Mật khẩu cũ">
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="pwd">Mật khẩu mới</label>
                            <div class="col-md-10">
                                <input type="password" name="password" required class="form-control" id="password" placeholder="Mật khẩu mới">
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="pwd-confirm">Xác nhận mật khẩu</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" required name="confirmpassword" id="confirmpassword" placeholder="Xác nhận mật khẩu">
                            </div>
                        </div>
                    </fieldset>

                    <div class="terms">
                        <div class="float-md-right">
                            <input type="submit" value="Đổi mật khẩu" class="return-customer-btn">
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Infor Page End -->
<script>
    function checkPass() {
        if (document.getElementById("password").value != document.getElementById("confirmpassword").value) {
            document.getElementById("error-message").innerHTML = "Mật khẩu không khớp";
            return false;
        }
        return true;
    }
</script>
